* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #24292e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

.header {
  background: #24292e;
  color: white;
  padding: 4rem 0;
  text-align: center;
}

.header .container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header .title {
  font-size: 4.2rem;
  margin-bottom: 0.4rem;
  color: white;
}
